*{
    margin: 0;
    padding: 0;
    font-family: "Amatic SC", sans-serif !important ;
}
.amatic-sc-regular { 
    font-family: "Amatic SC", sans-serif ;
    font-weight: 400;
    font-style: normal;
}
  
.amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body{
    background: rgb(35 90 77);
}


/* NAVBAR */

nav{
    display: flex;
    justify-content: space-between;
    background-color: #113932;
    padding: 10px 29px;
    border-radius: 90px;
    position: sticky;
    position:relative;
    top: 20px;
    z-index: 999;
    width: 90%;
    margin: auto;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 26px;
}

.logo{
    font-weight: 900;
}

.navlinks ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}
  
.navli a{
    color: rgb(211, 37, 37);
    font-weight: 900;
}


.navlinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #01231e;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navlinks ul li:hover::after{
    width: 100%;

}

.mobile{
    display: none;
}

.mobile img{
    width: 40px;
    cursor: pointer;
}

.mobile button{
    background:#113932;
    border: none;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 1%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu1{
    position: absolute;
    top: 100%;
    right: 39%;
    width: 220px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}

.sub-menu1.submenu-subbar{
    max-height: 250px;
}

.sub-menu12{
    position: absolute;
    top: 100%;
    right: 22%;
    width: 220px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}

.sub-menu12.submenu-subbar1{
    max-height: 370px;
}

.sub-menu13{
    position: absolute;
    top: 100%;
    right: 22%;
    width: 220px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}

.sub-menu13.submenu-subbar12{
    max-height: 370px;
}

.sub-menu14{
    position: absolute;
    top: 100%;
    right: 22%;
    width: 220px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}

.sub-menu14.submenu-subbar13{
    max-height: 370px;
}


.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: white;
    padding: 20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h2{
    font-weight: 500;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #113932;
    margin: 15px 0 10px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #01231e;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 700;
}


/* Section-2 */

.headmain{
    background-image: linear-gradient(rgba(0, 0, 0, 0.543),rgba(0, 0, 0, 0.435)),url(pics/main.png);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
}

.main1{
    padding-top: 130px;
    font-size: 42px;
    line-height: 74px;
}

.main2{
    margin-top: 20px;
}

.main2 h3{
    color: beige;
    font-size: 30px;
}

.main2 p{
    font-size: 16px;
    color: beige;
}

.main2 button{
    margin: 25px;
    padding: 10px 25px;
    color: white;
    background-color: #01231e;
    border-radius: 20px;
    border: none;
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 2px 10px 5px rgb(212, 22, 22)black;
    transition: all 0.3s linear;
}

.main2 button:hover{
    color: #01231e;
    background-color: beige;
}

.main2 span{
    cursor: pointer;
    color: #01231e;
    font-size: 32px;
    font-weight: bolder;
}

.main3{
    width: 80%;
    margin: auto;
}

.main3 p{
    margin: auto;
    font-size: 32px;
    margin-bottom: 10px;
}

.submain3{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    border-radius: 20px;
}

.sub{
    padding: 10px 50px;
    margin: auto;
}

.sub1{
    padding: 10px 50px;
    margin: auto;
}

.sub input{
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 4px;
    outline: none;
    cursor: pointer;
    color: beige;
}

.sub1 button{
    margin: 25px;
    padding: 10px 25px;
    color: white;
    background-color: #01231e;
    border-radius: 20px;
    border: none;
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 2px 10px 5px rgb(212, 22, 22)black;
    transition: all 0.3s linear;
}

.sub1 button:hover{
    color: #01231e;
    background-color: beige;
}


/* Section-2 */

.sec2Main{
    margin-top: 750px;
    color: beige;
}

.sec2Main h3{
    text-align: center;
    font-size: 28px;
    font-weight: 900;
}

.sec2Main h1{
    text-align: center;
    font-size: 38px;
}

.sec2card{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.sec2Maincard{
    width: 250px;
    padding: 30px 10px 0px 10px;
    text-align: center;
    margin-top: 50px;
    border-radius: 20px;
    transition: 1s;
}

.sec2Maincard:hover{
    border: 1px solid beige;
    box-shadow:10px 0px 50px #01231e;
}

.sec2Maincard img{
    width: 100px;
    /* height: 100px;  */
    align-items: center;
}

.sec2Maincard h2{
    color: crimson;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sec2Maincard button{
    margin-top: 15px;
    margin: 25px;
    padding: 10px 25px;
    color: white;
    background-color: #01231e;
    border-radius: 20px;
    border: none;
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 2px 10px 5px rgb(212, 22, 22)black;
    transition: all 0.3s linear;
}

.sec2Maincard button:hover{
    color: #01231e;
    background-color: beige;
}



/* Section-3-Start */

.sec3Main{
    margin-top: 140px;
    background-image: url(pics/sec3Main.png) ;
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.text{
    text-align: center;
}

.text button{
    margin-top: 15px;
    margin: 25px;
    padding: 10px 25px;
    color: white;
    background-color: #01231e;
    border-radius: 20px;
    border: none;
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 2px 10px 5px rgb(212, 22, 22)black;
    transition: all 0.3s linear;
}

.text button:hover{
    color: #01231e;
    background-color: beige;
}


/* Section-4-Start */

.sec4Main{
    margin-top: 100px;
}

.sec4Submain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sec4sub-2 img{
    width: 600px;
    
}

.sec4sub-1{
    padding-left: 30px;
    width: 500px;
}

.sec4sub-1 h2{
    color: rgb(212, 22, 22);
    /* text-align: center; */
    padding-left: 25%;
    margin-bottom: 50px;
    font-size: 58px;
    font-weight: bolder;
}

.sec4sub-1 h1{
    font-size: 42px;
}

.sec4sub-1 p{
    color: beige;
}

.button{
    margin-top: 15px;
    margin: 25px;
    padding: 10px 25px;
    color: white;
    background-color: #01231e;
    border-radius: 20px;
    border: none;
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 2px 10px 5px rgb(212, 22, 22)black;
    transition: all 0.3s linear;
}

.button:hover{
    color: #01231e;
    background-color: beige;
}



/* Section-5-Start */

.sec5Main{
    margin-top: 100px;
    background: beige;
    border-radius: 50px;
    margin-bottom: 100px;
}

.sec5Submain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sec5Submain-1{
    padding-top: 30px;
    width: 350px;
}

.sec5Submain-1 h2{
    color: rgb(212, 22, 22);
}

.sec5Submain-1 h1{
    font-size: 52px;
    font-weight: bolder;
    margin-bottom: 19px;
}



/* Section-6 */

.sec6Main{
    text-align: center;
    margin-top: 100px;
}

.sec6Submain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sec6Submain-1{
    display: flex;
    width: 300px;
    border: 1px solid beige;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 50px;
    transition: 1s;
}

.sec6Submain-1:hover{
    border: 1px solid beige;
    box-shadow:10px 0px 50px #01231e;
}

.sec6sub-sub2 span{
    text-align: end !important;
}

.sec6sub-sub2{
    text-align: start !important;
    margin-left: 20px;
}



/* Section-7 */

.sec7Main{
    display: block;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 100px;
}

.sec7Main h1{
    margin-bottom: 50px;
}

.div1{
    margin-bottom: 20px;
}


input,
textarea{
    width: 80%;
    background: #113932;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    border-radius: 30px;
}



/* FOOTER */

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0px;
    margin-top: 100px;
    background: #01231e;
}

.footer1 h1{
    color: beige;
    margin-bottom: 20px;
}

.footer2 h1{
    color: beige;
    margin-bottom: 20px;
}

.footer3 h1{
    color: beige;
    margin-bottom: 20px;
}

.footer1 a{
    text-decoration: none;
    color:black;
}

.footer2 a{
    text-decoration: none;
    color:black;
}

.footer3 h2{
    margin-top: 20px;
    color: rgb(211, 37, 37);
}






/* media querry */

@media only screen and (max-width:1200px){

    .sec4sub-2{
        margin: auto;
    }

    .sec4sub-2 img{
        width: 800px;
    }

    .sec4sub-1{
        margin: auto;
        width: 700px;
    }
}




@media only screen and (max-width:999px){

    .submain3{
        display: flex;
        flex-wrap: wrap;
    }
    .sec4sub-2 img{
        width: 700px;
    }
}







@media only screen and (max-width:800px){

    .sec4sub-2 img{
        width: 600px;
    }


}







@media only screen and (max-width:699px) {

    nav{
        width: 75%;
    }

    .navlinks{
        display: none;
    }

    .navli{
        display: none;
    }

    .mobile{
        display: block;
    }

    /* Section-1 */
    
    .main1{
        font-size: 32px;
    }

    .main2{
        margin-top: 15px;
    }

    .main2 h3{
        font-size: 26px;
    }

    .main2 p{
        font-size: 14px;
    }


    /* Section-4 */

    .sec4sub-2 img{
        width: 500px;
    }
    .sec4sub-2{
        margin: auto;
    }
}



@media only screen and (max-width:699px) {

    .sec4sub-2 img{
        width: 350px;
    }

    
    
    /* Section-5 */

    .sec5Submain-2 img{
        width: 400px;
    }



}



@media only screen and (max-width:499px) {

    
    /* Section-5 */

    .sec5Submain-2 img{
        width: 350px;
    }


    /* /FOOTER */

    .footer3{
        margin-top: 50px;
    }

}



@media only screen and (max-width:399px) {

    .sec4sub-2 img{
        width: 300px;
    }

    .sec4sub-2{
        margin: auto;
    }

    
    /* Section-5 */

    .sec5Submain-2 img{
        width: 300px;
    }


    /* Section-6 */

    
    .sec6Submain-1{
        width: 80%;
    }

}




@media only screen and (max-width:339px) {

    .sec4sub-2 img{
        width: 180px;
    }

    /* Section-5 */

    .sec5Submain-2 img{
        width: 250px;
    }

}